body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(185deg, #ffb26a 0, #ffa56e 10%, #ff9870 20%, #ff8a71 30%, #ee7b70 40%, #d86c6c 50%, #c15e67 60%, #ac5363 70%, #9a4a5f 80%, #8a435b 90%, #7c3d58 100%);
    height: 100vh;
  }